.about-us{

    &__item{
        padding-bottom: 5.6rem;
        margin: 0 auto;
    }

    &__item:nth-last-child(1){
        padding-bottom: 0rem;  
    }

    &__item > img{
        width: 4.025rem;
        margin-bottom: 1.925rem;
    }

    &__item:nth-child(2) > img{
        width: 3.4375rem;
    }

    &__headline{
        margin-top: 0;
        margin-bottom: 0.75rem;
        font-size: clamp(1.125rem, 4vw, 1.225rem);
    }

    &__description{
       margin: 0;
       font-size: 0.875rem;
       line-height: 1.3125rem; 
    }
}