.banner{
    background: linear-gradient(0deg, var(--clr-Dark-blue-main-background) 50%, var(--clr-Dark-blue-intro-email) 50%);

    &__image{
        margin-top: 30px;
        position: relative;
        z-index: 200;
    }

    &__image-float{
        position: absolute;
        top: 290px;
        left: 0;
    }

    &__headline{
        position: relative;
        z-index: 200;
        margin-top: 30px;
        line-height: 1.5;
    }

    &__subtitle{
        line-height: 1.5;
        font-size: 0.9375rem;
        line-height: 1.4375rem;

    }

    &__btn{
        margin: 1rem 0;
    }
}