.site-header{

    background-color: var(--clr-Dark-blue-intro-email);
    
    &-container{
        width: 90%;
        margin: 0 auto;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.75rem;
    }

    &__logo{
        height: 25px;
    }

    &__nav > nav > ul{
        display: flex;
    }

    &__nav > nav > ul > li{
        list-style-type: none;
        padding: 0 0.48rem;
    }

    &__nav > nav > ul > li :nth-last-child(1){
        padding: 0 0;
    }

    &__nav > nav > ul > li >a{
        text-decoration: none;
        color: var(--clr-Neutral-white);
    }

}