.stay-productive{
    margin-top: 60px;
    
    &__image{
        margin-bottom: 50px;
    }

    &__headline{
        font-size: 1.4375rem;
        line-height: 1.8125rem;
    }

    &__description{
        font-size: 0.9375rem;
        line-height: 1.4375rem;
    }

    p.pdn-top{
        margin-top: 20px;
    }

    &__link{
        text-decoration: none;
        padding-bottom: 0.2rem;
        border-bottom: 0.1rem solid var(--clr-Cyan-call-to-action);
        font-size: 0.875rem;
        letter-spacing: 0.0625rem;
        color: var(--clr-Cyan-call-to-action);

        &__icon{
            width: 1rem;
        }
    }
}